.projectsContainer {
    height: 100%;
    width: 100vw;
    background-color: #BAC1B8;
    margin-top: 0px;
    font-family: sans-serif;
}
.projectName {
    color: black;
}
.carouselDiv {
    background-color: black;
    width: 90%;
    margin: auto;
    padding: 20px 20px;
    height: 90vh;
    margin-top: 40px;
    background-image: url('../../assets/alcode/alcode-home.png');
    background-repeat: no-repeat;
    background-position-x:center;
    background-size: 100%;
    background-blend-mode: screen;
}
.carouselImg {
    display: block;
    height: 70vh;
    width: auto;
    position: relative;
    margin: auto;
}

.spendingDiv{
    background-color: #FEFAE0;
    width: 90%;
    margin: auto;
    padding: 20px 20px;
    height: 90vh;
    margin-top: 40px;
    /* background-image: url('../../assets/spending/home.png');
    background-repeat: no-repeat;
    background-position-x:center;
    background-size: 100%;
    background-blend-mode: screen; */
}
.spendingImg {
    display: block;
    height: 500px;
    width: 800px !important;
    position: relative;
    margin: auto;
}