.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #005E7C;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
.nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerImg {
    margin-right: 10px;
    /* display: flex;
    justify-content: center; */
}
.linkContainer {
    display: flex;
    align-items: center;
}
.active {
    color: brown;
}
a {
    text-decoration: none;
    padding: 10px;
    color: #001242;
    font-size: 1.2rem;
    font-weight: bolder;
}
a:hover {
    color: white;
}