.homeContainer {
    background-color: #BAC1B8;
    width:100vw;
    font-family: sans-serif;
    background-image: url('../../assets/background-profile.png');
    background-repeat: no-repeat;
    background-position-x:center;
    background-size: 75%;
    background-blend-mode: overlay;
    /* background-blend-mode: screen; */
}
.homeHeading {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.homeName {
    padding: 20px;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
a img {
    padding-top: 5px;
}
.emailImage {
    padding-left: 5px;
    padding-right: 10px;
}
.linkedInIcon {
    margin-left: 5px;
}
.title {
    margin-top: 0px;
    font-weight: bolder;
}
.location {
    font-weight: bolder;
    margin-top: 10px;
}
.aboutContainer {
    width: 85%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: auto;
    /* background-color: #BEB7A4; */
    background-color: white;
    margin-top: 50px;
}
.aboutMeHeader {
    text-align: left;
    margin-left: 10px;
    font-size: 1.5rem;
}
img {
    padding-top: 20px;
    padding-right: 20px;
}
.profileImg {
    display: flex;
    flex-direction: column;
}
.profileContext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

/* Tech Stack Component */
.techStackParent {
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.techStackContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.techStackSpan {
    text-align: center;
}
.techStackSpan p {
    padding: 10px;
}
.techStackH1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.spanH1 {
    padding: 10px;
}